.equipment-page {
  .equipment-page__products {
    .equipment-page__products-container {
      display: grid;
      gap: 4rem;

      .content {
        position: relative;
        height: 450px;
        padding-right: 30%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .data {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;

        width: 500px;
        height: max-content;
        background: var(--body-color);
        padding: 1.5rem;
        border-radius: 0.7rem;
        box-shadow: 2px 2px 5px var(--box-shadow-color);
      }

      .content:nth-child(2) {
        padding-right: 0;
        padding-left: 30%;
      }

      .content:nth-child(2) .data {
        right: auto;
        left: 0;
      }
    }
  }

  .jobs{
    h3{
      margin-bottom: 1.5rem;
    }

    ul{
      display: grid;
      gap: 1rem;
      list-style-type: circle;
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 767px) {
  .equipment-page {
    .equipment-page__products {
      .equipment-page__products-container {
        gap: 3rem;

        .content {
          height: max-content;
          padding-right: 0;
        }

        img {
          height: 250px;
        }

        .data {
          position: static;
          margin-top: 1rem;
          width: 100%;
        }

        .content:nth-child(2) {
          padding-right: 0;
          padding-left: 0;
        }
      }
    }
  }
}
