.footer {
  background: var(--container-color);

  .footer__container {
    display: grid;
    grid-template-columns: 1.4fr 1fr 0.5fr;
    gap: 3rem;
    border-bottom: 1px solid var(--first-color);
    padding-block: 4rem;
  }

  .footer__data:nth-child(2) .footer__title,
  .footer__data:nth-child(3) .footer__title {
    margin-top: 0.5rem;
  }

  .footer__title {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    .footer__line {
      width: 100%;
      height: 1px;
      background: var(--first-color);
    }

    .footer__logo {
      font-size: 2rem;
      font-family: '700';
      color: var(--title-color);
    }
  }

  .footer__list {
    display: grid;
    gap: 1rem;
    margin-top: 1.5rem;

    a {
      display: flex;
      gap: 0.5rem;
      width: fit-content;
      transition: 0.3s;

      i {
        color: var(--first-color);
      }
    }

    a:hover {
      transform: translateX(-7px);
    }
  }

  .footer__social {
    display: flex;
    gap: 0.8rem;
    margin-top: 1.5rem;

    a {
      transition: 0.3s;
    }

    a:hover {
      transform: rotate(360deg);
    }
  }

  .footer__copy {
    padding-block: 1rem;
    text-align: center;
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1024px) {
  .footer {
    .footer__container {
      gap: 2rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    .footer__container {
      grid-template-columns: 1fr;
    }

    .footer__data:nth-child(2) .footer__title,
    .footer__data:nth-child(3) .footer__title {
      margin-top: 0;
    }
  }
}
