.investment {
  .investment__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin-top: 4rem;
  }

  .investment__data {
    display: grid;
    justify-items: center;
    align-content: flex-start;
    text-align: center;
    gap: 1rem;

    img {
      width: 90px;
    }

    h3 {
      margin-bottom: 0.5rem;
    }

    small {
      line-height: 1.5;
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media (max-width: 767px) {
  .investment {
    .investment__container {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }
}
