.products {
  .products__title {
    padding-bottom: 1rem;
    border-bottom: 1px solid hsl(207, 4%, 85%);
  }

  .products__container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3rem 2rem;
  }

  .products__card {
    display: grid;
    gap: 1.5rem;
    box-shadow: 2px 2px 5px 0 hsl(207, 4%, 90%);
    padding: 1.5rem;
    border-radius: 1rem;

    img {
      width: 100%;
      height: 170px;
      border-radius: 1rem;
      margin-bottom: 1.5rem;
    }

    h3 {
      margin-bottom: 0.5rem;
    }

    .btn {
      align-self: flex-end;
      justify-self: start;
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media (max-width: 991px) {
  .products {
    .products__container {
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem 1.5rem;
    }
  }
}

@media (max-width: 575px) {
  .products {
    .products__container {
      grid-template-columns: 1fr;
    }
  }

  .products__card {
    img {
      height: 150px;
    }

    .btn {
      width: 100%;
    }
  }
}
